.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #eeeeee;
}

.sidebar__chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #fbfbfb;
    overflow-y: auto;
}

.sidebar__chatsSearch {
    padding: 10px;
}
